@import url('https://css.gg/menu-boxed.css');
@import url('https://css.gg/user.css');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'spoticar', Arial, sans-serif;
    font-size: 14px;
}

a:hover {
    text-decoration-color: #13d0ca;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #13d0ca;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#brand-banner {
    width: 100%;
    height: auto;
}

#sandwich-nav {
    display: none;
}

.nav-display {
    display: flex;
    flex-direction: row;
}

.logo-container {
    padding: 25px;
    width: 185px;
    height: auto;
    align-self: flex-start;
}

nav {
    align-content: center;
    align-items: top;
    flex-grow: 1;
}

nav ul {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    align-content: center;
}

nav ul li {
    padding: 32px 10px 32px 10px;
}

.nav-separator {
    padding-right: 0px;
}

#interim-info {
    text-align: center;
}

#interim-info h2 {
    font-size: 26.8px;
}

#interim-info p {
    font-size: 16px;
    line-height: 1.7;
}

#oficial-network {
    background-image: linear-gradient(to right, rgb(217, 217, 217), rgb(76, 75, 75));
}

#oficial-network ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

#oficial-network ul li {
    padding: 00.7rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f7f7f7;

}

#oficial-network ul li img {
    width: auto;
    height: 64px;

}

#compromises-info {
    background-color: #323e48;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

div #compromises-info {
    display: block;
    margin-left: 4rem;
    margin-right: 4rem;
}

#compromises-info h2 {
    color: #fff;
}

#compromises-info ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0%;
}

#compromises-info ul li {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

#compromises-info ul li img {
    width: auto;
    height: 64px;
    fill: #fff;
}

#compromises-info #phrase {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    padding: 0.5rem;
    border: 3px solid white;
}

#opportunities-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

#opportunities-info ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#opportunities-info ul li {
    border: 1px solid #63656a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 23.33333333333333%;
    font-size: 14px;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
}

#opportunities-info ul li img {
    width: 32px;
    height: 32px;
}

.banner {

    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    height: auto;
    width: auto;
}

#banner1{
    position: relative;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: large;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #13d0ca;
    padding: 10px;
}

#banner1 p{
    position: absolute;
    color: whitesmoke;
}
#discover-new {
    display: flex;
    flex-direction: column;
    padding: 3em 0em 3em 0em;
    justify-content: center;
    background-color: #767171;
}

#discover-new h2 {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

#discover-new ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    text-align: left;
}

#discover-new ul li {
    width: 33.333333%;
    display: flex;
    justify-content: space-between;
}


#discover-new .discover-column {
    padding: 0%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#discover-new .discover-column .content ul {
    text-decoration: underline;
    list-style-type: none;
    display: flex;
    flex-direction:column;
    padding: 0;
    width: 100%;
}

#discover-new .discover-column .content ul li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: underline;
    color: #fff;
}

.icon {
    transform: scale(1.5);
    color: gray;
    margin: 50px 100px 50px 100px;
}

#footer-last h2 {
    color: #fff;
    font-size: 2.5rem;
}

#footer-last {
    display: flex;
    flex-direction: column;
    padding: 3em;
    background-color: #101820;
}

/*#footer-last ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #f7f7f7;
    padding: 0;
    justify-content: space-evenly;
    flex-grow: 1;
}*/
#footer-last ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #fff;
    justify-content: center;
    text-align: left;
}

#footer-last ul li {
    width: 33.333333%;
    justify-content: space-between;
    align-items: left;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    list-style-type: none;
}

#footer-last .brands {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-weight: bold;
}

#footer-last .last_line li {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-evenly;
}

#finance-calculator {
    padding: 10px;
}

#finance-calculator label {
    margin-top: 10px;
}

#finance-calculator input {
    display: block;
    margin-bottom: 10px;
}

#finance-calculator select {
    display: block;
    margin-bottom: 10px;
}

.finance-results {
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 0;
    flex-grow: 1;
    justify-content: space-evenly;
}

.finance-results ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finance-results ul :first-child {
    font-size: large;
    font-weight: bold;
}

.model-select {
    display: none;
}

.price-input input {
    display: inline !important;
}

.km-input input {
    display: inline !important;
}

@media all and (max-width: 1200px) {
    #normal-nav {
        display: none;
    }

    #sandwich-nav {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        overflow: wrap;
    }
}