body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'spoticar', Arial, sans-serif;
    font-size: 14px;
}

a:hover {
    text-decoration-color: #13d0ca;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #13d0ca;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 1;
}

.logo-container {
    padding: 25px;
    width: 185px;
    height: auto;
    align-self: flex-start;
}

nav {
    align-content: center;
    align-items: top;
}

nav ul {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    align-content: center;
}

nav ul li {
    padding: 32px 10px 32px 10px;
}

.nav-separator {
    padding-right: 0px;
}