@import url('https://css.gg/menu-boxed.css');
@import url('https://css.gg/user.css');

body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: 'spoticar', Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    word-spacing: 2.5px;
    line-height: 140%;
}

a:hover {
    text-decoration-color: #13d0ca;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #13d0ca;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#brand-banner {
    width: 100%;
    height: auto;
}

#sandwich-nav {
    display: none;
}

.nav-display {
    display: flex;
    flex-direction: row;
}

.logo-container {
    padding: 25px;
    width: 185px;
    height: auto;
    align-self: flex-start;
}

nav {
    align-content: center;
    align-items: top;
    flex-grow: 1;
}

nav ul {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    align-content: center;
}

nav ul li {
    padding: 32px 10px 32px 10px;
}

.nav-separator {
    padding-right: 0px;
}

/*.carrossel {
    margin: 0;
    padding: 0;
}

.slides-list {
    display: inline-block;
    height: 430px;
    width: 1200px;
    margin: auto;
    position: relative;
}

.slides-list li{
    list-style-type: none;
    position: absolute;
}

.slides-list img {
    margin: auto;
    height: auto;
    width: 100%;
}

.slides-list input{
    display: none;
}

.slides-list li label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    position: absolute;
    width: 10px;
}

.slides-list li:nth-child(1){
    left: 100%;
}

.slides-list li:nth-child(2){
    left: 200%;
}

.slides-list li:nth-child(3){
    left: 300%;
}

.slides-list img{
    opacity: 0;
    visibility: hidden;
}

.slide li input:checked ~ img {
    opacity: 1;
    visibility: visible;
}*/

#search ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    align-content: space-around;
}

#search ul li {
    list-style-type: none;
}

#search-index {
    background-color: lightgrey;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: .4em;
}

#search-index li {
    flex: content;
    list-style-type: none;
    margin: 0px 5px;
    padding: 1.5em;
    background-color: aliceblue;
    font-size: .6rem;
    font-weight: bold;
}

#search-index li:hover {
    cursor: pointer;
}

#search-index li:nth-last-child(2){
    background-color: #13d0ca;
    border-radius: .9em;
    color: white;
}

#search-index li:last-child{
    margin: 0px 0px;
    background-color: white;
    border-radius: .9em;
    color: black;
    border-radius: 0;
    text-align: right;
}

#search-index li:nth-last-child(2):hover {
    background-color: white;
    border: #13d0ca 3px solid;
    color: #13d0ca;
}

#search-mediaq {
    display: none;
}

#interim-info {
    text-align: center;
}

#interim-info h2 {
    font-size: 26.8px;
}

#interim-info p {
    font-size: 16px;
    line-height: 1.7;
}

#oficial-network {
    background-image: linear-gradient(to right, rgb(217, 217, 217), rgb(76, 75, 75));
}

#oficial-network ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

#oficial-network ul li {
    padding: 00.7rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f7f7f7;

}

#oficial-network ul li img {
    width: auto;
    height: 64px;

}

#compromises-info {
    background-color: #323e48;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

div #compromises-info {
    display: block;
    margin-left: 4rem;
    margin-right: 4rem;
}

#compromises-info h2 {
    color: #fff;
}

#compromises-info ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0%;
}

#compromises-info ul li {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

#compromises-info ul li img {
    width: auto;
    height: 64px;
    fill: #fff;
}

#compromises-info #phrase {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    padding: 0.5rem;
    border: 3px solid white;
}

#opportunities-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

#opportunities-info ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#opportunities-info ul li {
    border: 1px solid #63656a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 23.33333333333333%;
    font-size: 14px;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
}

#opportunities-info ul li img {
    width: 32px;
    height: 32px;
}

.banner1 .banner {

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

.banner1{
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner1 p {
    display: contents;
    font-size: .8em;
    position: relative;
    flex-wrap: nowrap;
}

.banner1 img {
    position: relative;
    max-width: 120%;
}

.centered {
    font-size: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.centered-bottom {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -5%);
    background-color: #13d0ca;
    padding: 5px;
    font-size: .5em;
    font-weight: lighter;
}

#banner1 p {
    position: absolute;
    color: whitesmoke;
}

#discover-new {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    background-color: #767171;
    padding: 3em;
}

#discover-new li:hover{
    cursor: pointer;
}

#discover-new li{
    list-style-type: none;
}

#li1col1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

#li2col1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#li2col2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#li2col3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#discover-new2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    background-color: #767171;
    padding: 3em;
}

#discover-new2 li:hover{
    cursor: pointer;
}

#discover-new2 li{
    list-style-type: none;
}

#li3col1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

#li4col1 {
    grid-row: 2 / 3;
    grid-column: 1 /2;
}

#li4col2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#li4col3 {
    grid-row: 2 / 3;
    grid-column: 3 /4;
}

#discover-new .discover-column {
    text-align: left;
    color: #fff;
    font-size: large;
    font-weight: bold;
}

#discover-new2 .discover-column {
    text-align: left;
    color: #fff;
    font-size: large;
    font-weight: bold;
}

#discover-new .discover-column .content ul {
    padding: 0;
}

#discover-new .discover-column .content ul li {
    list-style-type: none;
    text-decoration: underline;
    font-size: .9rem;
    font-weight: lighter;
}

#discover-new2 .discover-column .content ul {
    padding: 0;
}

#discover-new2 .discover-column .content ul li {
    list-style-type: none;
    text-decoration: underline;
    font-size: .9rem;
    font-weight: lighter;
}

#footer-last {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 3;
    padding: 3em;
    background-color: #101820;
    text-align: left;
    list-style-type: none;
    color: #fff;
    font-weight: bold;
}

#footer-last li {
    list-style-type: none;
}

#footer-last li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#li5col1{
    grid-row: 1 / 2;
    grid-column: 1 / 7;
    text-align:left;
    padding-left: 40px;
    color: #fff;
    font-size: 1.3rem;
}

#li6col1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#li6col2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#li6col3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#li6col4 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

#li7col1 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#li7col2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#li7col3 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#li7col4 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

#footerlast .brands {
    text-align: left;
    color: #fff;
    font-size: larger;
    font-weight: bolder;
}

#footer-last .brands li {
    list-style-type: none;
    font-size: small;
    font-weight: light;
}

#footer-footer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1;
    padding-bottom: 20px;
    margin: 0;
    background-color: #101820;
    text-align: left;
    list-style-type: none;
    color: #fff;
    font-weight: bold;
}

#footer-footer li {
    list-style-type: none;
    padding-left: 2.5em;
}

.icon {
    transform: scale(1.5);
    color: gray;
    margin: 50px 100px 50px 100px;
}

.calculator {
    padding: 10px;
}

.calculator h2 {
    text-align: center;
    font-size: 26.8px;
}

.calculator form label {
    color: #13d0ca;
    font-size: 1.2em;
    margin: 10px 0px 10px 0px;
}

.calculator select {
    border-color: grey;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
}

.calculator input {
    border-color: grey;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
}

.calculator select {
    display: block;
    margin-bottom: 20px;
}

.results {
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 0;
    flex-grow: 1;
    justify-content: space-evenly;
}

.results ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results ul :first-child {
    font-size: large;
    font-weight: bold;
}

.model-select {
    display: none;
}

.price-input input {
    display: inline !important;
}

.km-input input {
    display: inline !important;
}

.vertical-line {
    border-left: 1px solid lightgray;
    height: 15em;
}

@media all and (max-width: 991px) {
    #normal-nav {
        display: none;
    }

    #sandwich-nav {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        overflow: wrap;
    }

    #search {
        display: none;
    }

    #search-mediaq {
        display: grid;
    }

    #search-mediaq li {
        list-style-type: none;
        padding: 1em;
        margin: 5px;
        font-size: smaller;
        font-weight: bold;
        text-align: center;
    }

    #search-mediaq li:first-child {
        padding: 0px;
    }

    #search-mediaq li:nth-child(2), #search-mediaq li:nth-child(3) {
        background-color: #13d0ca;
        color: white;
        border-radius: 9px;
        border: #13d0ca 3px solid;
    }

    #search-mediaq li:nth-child(2):hover, #search-mediaq li:nth-child(3):hover {
        background-color: white;
        color: #13d0ca;
        cursor: pointer;
    }

    #search-mediaq li:nth-child(3) {
        font-size: large;
    }

    #search-mediaq li:last-child {
        color: gray;
        border-radius: 9px;
        border: gray 3px solid;
    }

    #discover-new {
        display: block;
        padding-inline-start: 60px;
    }

    #discover-new2{
        display: block;
        padding-inline-start: 60px;
    }

    #footer-last {
        display: block;
        padding-inline-start: 0px;
    }

    #li5col1 {
        padding-inline-start: 100px;
    }

    #li6col1 li, #li6col2 li, #li6col3 li, #li6col4 li, #li6col5 li, #li6col6 li, #li7col1 li, #li7col2 li, #li7col3 li, #li7col4 li, #li7col5 li, #li7col6 li {
        display: none;
        margin-left: 60px;
        margin-right: 60px;
    }

    #li6col1 li:first-child, #li6col2 li:first-child, #li6col3 li:first-child, #li6col4 li:first-child, #li6col5 li:first-child, #li6col6 li:first-child, #li7col1 li:first-child, #li7col2 li:first-child, #li7col3 li:first-child, #li7col4 li:first-child, #li7col5 li:first-child, #li7col6 li:first-child {
        display: block;
        padding-bottom: 1em;
        border-bottom: white .2em solid;
    }

    #footer-footer {
        display: block;
    }

    #footer-footer li {
        padding-left: 60px;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    
}
